<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>

    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script  type="text/javascript" src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <script  type="text/javascript" src="/static/script.js"></script>
        <link rel="stylesheet" href="/static/style.css">


        <div class="container">
            <!-- Content here -->
            <h1 class="display-3">Searching Query</h1>
            <div class="form-group">
                <form>
                    <input type="text" name="q" class="typeahead" placeholder="Write a query for the search..." value="{{ query }}">
                    <input type="submit" value="Search">
                </form>
            </div>

            {% if query_result %}
                <h3>Result Found: {{ query_result.hits.total }}</h3>

                {% for question in query_result.hits.hits %}
                <div class="list-group">
                    <a href="{{ question._source.url }}" class="list-group-item list-group-item-action active">
              {{ question.highlight.question[0]|safe }}
            </a>

                    {% for answer in question._source.answers %}
                    <li class="list-group-item">{{ answer }}</li>
                    {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</htm>